<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.mybatis.mapper.OrderMapper">
	<!-- one2one -->
	<resultMap id="orderResulstMapOne2one" type="com.lj.mybatis.model.Order">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="orderNo" property="orderNo"/>
		<result column="createTime" property="createTime"/>
		
		<!--
		<association property="user"  javaType="com.lj.mybatis.model.User">
			<id column="user_id" property="id"/>
			<result column="userName" property="userName"/>
			<result column="age" property="age"/>
		</association> 
		--> 
		
		<!-- autoMapping="true"会自动映射 --> 
		<association property="user"  javaType="com.lj.mybatis.model.User" autoMapping="true">
		</association> 
		
	</resultMap>
	
	<!-- one2many 这里继承了上面的resultMap -->
	<resultMap id="orderResulstMapOne2many" type="com.lj.mybatis.model.Order" extends="orderResulstMapOne2one">
		<collection property="orderProducts" ofType="com.lj.mybatis.model.OrderProduct">
			<result column="orderProductId" property="id"/>
			<result column="id" property="orderId"/>
			<result column="productName" property="productName"/>
			<result column="price" property="price"/>
			<result column="number" property="number"/>
		</collection> 
	</resultMap>
	
	<!-- 多层嵌套 collection里面还有collection -->
	<resultMap id="orderResulstMapMany2many" type="com.lj.mybatis.model.User">
		<result column="id" property="id"/>
		<result column="userName" property="userName"/>
		<result column="age" property="age"/>
		
		<collection property="orders" ofType="com.lj.mybatis.model.Order">
			<id column="orderId" property="id"/>
			<result column="orderNo" property="orderNo"/>
			<result column="createTime" property="createTime"/>
			
			<collection property="orderProducts" ofType="com.lj.mybatis.model.OrderProduct">
				<result column="orderProductId" property="id"/>
				<result column="id" property="orderId"/>
				<result column="productName" property="productName"/>
				<result column="price" property="price"/>
				<result column="number" property="number"/>
			</collection> 
		</collection> 
	</resultMap>
	
	<!-- 延迟加载 -->
	<resultMap id="ordersLazyMap" type="com.lj.mybatis.model.Order">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="orderNo" property="orderNo"/>
		<result column="createTime" property="createTime"/>
		
		<association fetchType="lazy" property="user" javaType="com.lj.mybatis.model.User" column="user_id" select="com.lj.mybatis.mapper.UserMapper.getUserById"  autoMapping="true">
		</association> 
	</resultMap>
	
	<select id="getOrdersByResulstMapOne2One" resultMap="orderResulstMapOne2one">
		select 
			mb_order.*,mb_user.*
		from 
			mb_order, mb_user
		where
		    mb_order.user_id = mb_user.id	
	</select>
	
	<select id="getOrdersByResulstMapOne2Many" resultMap="orderResulstMapOne2many">
		select 
			mb_order.*,
			mb_user.*,
			mb_orderProduct.id as orderProductId,
			mb_orderProduct.productName,
			mb_orderProduct.price,
			mb_orderProduct.number
		from 
			mb_order, mb_user, mb_orderProduct
		where
		    mb_order.id = mb_orderProduct.orderId	and  mb_order.user_id = mb_user.id	
	</select>
	
	<select id="getOrdersByResulstMapMany2Many" resultMap="orderResulstMapMany2many">
		select 
			mb_user.*,
			mb_order.id as orderId,
			mb_order.OrderNo,
			mb_order.createTime,
			mb_orderProduct.id as orderProductId,
			mb_orderProduct.productName,
			mb_orderProduct.price,
			mb_orderProduct.number
		from 
			mb_order, mb_user, mb_orderProduct
		where
		    mb_order.id = mb_orderProduct.orderId	and  mb_order.user_id = mb_user.id	
	</select>
	
	<select id="getOrdersLazy" resultMap="ordersLazyMap">
		select 
			*
		from 
			mb_order
	</select>
	
	
</mapper>


