<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.mybatis.mapper.OrderMapper">
	
	<resultMap type="com.lj.mybatis.model.Order" id="orderResulstMap">
		<id column="id " property="id"/>
		<result column="orderNo" property="orderNo"/>
		<result column="createTime" property="createTime"/>
		
		<association property="user" javaType="com.lj.mybatis.model.User">
			<id column="uId" property="userId"/>
		</association>
	</resultMap>
	
	<select id="getOrdersByResulstMap" parameterType="String" resultMap="orderResulstMap">
		select o.*,u.userId as uId  from mb_order o, mb_user u where o.userId = u.userId 
	</select>
</mapper>


