<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.mybatis.mapper.UserMapper">
	
	<sql id="query_user_sql">
		<if test="user.userName!=null and user.userName!=''">
			and userName like '%${user.userName}%'
		</if>	
		<if test="user.age!=null">
			and age = #{user.age}
		</if>	
		<foreach collection="ids" item="id" open=" and id in (" close=")" separator=",">
			#{id}
		</foreach>
	</sql>

	<resultMap type="com.lj.mybatis.model.User" id="userResulstMap">
		<id column="id_" property="id"/>
		<result column="name_" property="userName"/>
	</resultMap>

	<select id="getUserById" parameterType="int" resultType="com.lj.mybatis.model.User">
		select * from mb_user where id = #{value}
	</select>
	
	<!-- 这里resultType使用到了别名alias -->
	<select id="getUsersByName" parameterType="String" resultType="user">
		select * from mb_user where userName like '%${value}%'
	</select>
	
	<select id="getUsersByComplex" parameterType="com.lj.mybatis.model.UserVo" resultType="UserVo">
		select * from mb_user 
		<where>
			<include refid="query_user_sql"></include>
		</where>
	</select>
	<select id="getUsersByComplexCount" parameterType="com.lj.mybatis.model.UserVo" resultType="int">
		select count(*) from mb_user
		<where>
			<include refid="query_user_sql"></include>
		</where>
	</select>	
	
	<select id="getUsersByResulstMap" parameterType="String" resultMap="userResulstMap">
		select id id_, userName name_ from mb_user where userName like '%${value}%'
	</select>
</mapper>


