<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.mybatis.mapper.UserMapper">
	<select id="getUserById" parameterType="int" resultType="com.lj.mybatis.model.User">
		select * from mb_user where id = #{value}
	</select>
	
	<!-- 这里resultType使用到了别名alias -->
	<select id="getUsersByName" parameterType="String" resultType="user">
		select * from mb_user where userName like '%${value}%'
	</select>
	
	<select id="getUsersByComplex" parameterType="com.lj.mybatis.model.UserVo" resultType="UserVo">
		select * from mb_user where userName like '%${userExtend.userName}%'
	</select>
</mapper>


