<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

	<!-- 注解 _配置 -->
	
	<context:component-scan base-package="com.lj.ssm.controller"/>
	
	<!-- 获取静态资源(要获取静态资源如js，css,html等) -->
	<mvc:default-servlet-handler/>   
	<!--注解驱动，这个可以代替03中的注解映射器和适配器，并且默认加载很多的参数绑定方法-->
	<!-- conversion-service是为了加载自定义的参数转换绑定器 -->
	<mvc:annotation-driven conversion-service="conversionService"/>
		
	<!-- 视图解析器-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置路径的前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<!-- 配置路径的后缀 -->
		<property name="suffix" value=".jsp"/>
	</bean>	
	
	<!-- conversion-service是为了加载自定义的参数转换绑定器 -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!-- 转换器 -->
		<property name="converters">
			<list>
				<!-- 日期类型转换 -->
				<bean class="com.lj.ssm.controller.converter.CustomDateConverter"/>
			</list>
		</property>
	</bean>
	
	<!-- 配置 文件上传的支持 -->  
	<!-- 不配置此项无法上传文件，并且当form中有enctype="multipart/form-data"时，request.getparameter获取不到参数）
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="maxUploadSize" value="1024000000"/>  
        <property name="resolveLazily" value="true"/>  
        <property name="maxInMemorySize" value="4096"/>  
        <property name="defaultEncoding" value="UTF-8"/>  
    </bean>   -->  
	
</beans>