<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.ssm.dao.UserCustomMapper">
	<sql id="user_query_sql">
		<if test="userCustom != null">
			<if test="userCustom.userName != null and userCustom.userName != ''">
				and userName LIKE '%${userCustom.userName}%'
			</if>
			<if test="userCustom.age != null and userCustom.age != 0">
				and age = #{userCustom.age}
			</if>
		</if>
	</sql>
	
	<sql id="user_update_sql">
		<if test="userName != null and userName != ''">
			userName = #{userName},
		</if>
		<if test="age != null">
			age = #{age},
		</if>
		<if test="createTime != null">
			createTime = #{createTime},
		</if>
	</sql>
	
	<select id="findUserByCondition" parameterType="com.lj.ssm.model.UserVo" resultType="com.lj.ssm.model.UserCustom">
		select * from ssm_user 
		<where>
			<include refid="user_query_sql"></include>
		</where>
	</select>
	
	<select id="findUserById" parameterType="int" resultType="com.lj.ssm.model.UserCustom">
		select * from ssm_user  
		where id = #{value}
	</select>
	
	
	<update id="updateUser"  parameterType="com.lj.ssm.model.UserCustom">
		update ssm_user 
		<set>
			<include refid="user_update_sql"></include>
		</set>
		where id = #{id}
	</update>
</mapper>


