<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lj.ssm.dao.UserCustomMapper">
	<sql id="user_query_sql">
		<if test="userCustom != null">
			<if test="userCustom.userName != null and userCustom.userName != ''">
				userName LIKE '%${useCustom.userName}%'
			</if>
		</if>
	</sql>
	
	<select id="findUserByCondition" parameterType="com.lj.ssm.model.UserVo" resultType="com.lj.ssm.model.UserCustom">
		select * from ssm_user 
		<where>
			<include refid="user_query_sql"></include>
		</where>
	</select>
	
</mapper>


