<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/testweb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
       <!--
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:SXT</property>
        <property name="connection.username">scott</property>
        <property name="connection.password">tiger</property>
      	<property name="dialect">org.hibernate.dialect.OracleDialect</property>
       -->
		
		<!-- 设置hibernate事务隔离级别 1 2 4 8 -->
		<property name="hibernate.connection.isolation">2</property>
		
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        -->  
        
        <!--开启二级缓存和查询缓存-->
        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="cache.use_query_cache">true</property>
		
		
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
		
		
		<!-- 映射 -->
		<mapping resource="com/lj/compositeId/model/Student.hbm.xml"/> 
		<mapping resource="com/lj/one2one/model/Husband2.hbm.xml"/> 
		<mapping resource="com/lj/one2one/model/Wife2.hbm.xml"/> 
		<mapping resource="com/lj/many2one/model/User2.hbm.xml"/> 
		<mapping resource="com/lj/many2one/model/Group2.hbm.xml"/> 
		<mapping resource="com/lj/component/model/Person2.hbm.xml"/> 
		<mapping resource="com/lj/one2many/model/Order2.hbm.xml"/> 
		<mapping resource="com/lj/one2many/model/Product2.hbm.xml"/> 
		<mapping resource="com/lj/oneManyDouble/model/Product4.hbm.xml"/> 
		<mapping resource="com/lj/oneManyDouble/model/order4.hbm.xml"/> 
		<mapping resource="com/lj/many2many/model/Client2.hbm.xml"/> 
		<mapping resource="com/lj/many2many/model/FitCourse2.hbm.xml"/> 
		
		<mapping class="com.lj.one2one.model.Husband"/>
		<mapping class="com.lj.one2one.model.Wife"/>
		<mapping class="com.lj.many2one.model.User"/>
		<mapping class="com.lj.many2one.model.Group"/>
		<mapping class="com.lj.compositeId.model.Teacher"/>
		<mapping class="com.lj.component.model.Person"/>
		<mapping class="com.lj.one2many.model.Order"/>
		<mapping class="com.lj.one2many.model.Product"/>
		<mapping class="com.lj.oneManyDouble.model.Order3"/>
		<mapping class="com.lj.oneManyDouble.model.Product3"/>
		<mapping class="com.lj.many2many.model.Cilent"/>
		<mapping class="com.lj.many2many.model.FitCourse"/>
		<mapping class="com.lj.cascade.model.UserLj"/>
		<mapping class="com.lj.cascade.model.CardLj"/>
		<mapping class="com.lj.cascade.model.BiCardLj"/>
		<mapping class="com.lj.cascade.model.BiUserLj"/>
		<mapping class="com.lj.query.model.EmployCard"/>
		<mapping class="com.lj.query.model.Company"/>
		<mapping class="com.lj.query.model.Employee"/>
		<mapping class="com.lj.cache.model.Owner"/>
		<mapping class="com.lj.cache.model.Dog"/>
		<mapping class="com.lj.trancation_lock.model.Account"/>
    </session-factory>

</hibernate-configuration>